/* variables.css */
/* Colors */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f0f0f0;
    --background-color-transparent: rgba(255, 255, 255, 0.10);
    --text-color: #333;
}

/* Font Sizes */
:root {
    --base-font-size: 13px;
    --heading-font-size: 24px;
}

/* Spacing */
:root {
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}

html {
    font-size: var(--base-font-size);
}
 /* Reset some default styles to ensure consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* Set a background color and default font for the entire page */
body {
    /* background-color: #f0f0f0; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style buttons */
button {
    color: #fff;
    padding: 0.2rem 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button:hover {
    background-color: var(--text-color);
}

button:active {
    background-color: var(--text-color-light);
}

hr {
    border-top: 1px solid #EEEEEE;
    margin: 1rem 0;
}

h2 {
    margin: 1rem 0;
}

li:not(nav li) {
    margin-left: 1.5rem;
}

/*
*
* NAVBAR STYLES
*
* */
.navbar {
    top: 0;
    z-index: 100;
    position: fixed;
    color: black;
    background: linear-gradient(white 15%, transparent);
}

.nav-list:before {
    z-index: -1;
    content: '';
    position: absolute;
    height: 7rem;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.95;
    backdrop-filter: blur(15px);
    mask: linear-gradient(180deg, white 35%, transparent);
    transition: 1s;
  }

.nav-list:hover::before {
    opacity: 1;
}

.nav-list {
    text-transform: uppercase;
    height: 100vh;
    /* text-orientation: sideways; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 0.8em;
    padding: 0 2rem;
    gap: 2rem;
}

.nav-list a {
    text-decoration: none;
}

/*
*
* HERO SECTION STYLES
*
*/
.hero-section {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
}

.greeting-line {
    font-size: 1.6rem;
}

.main-text {
    font-size: 8rem;
    line-height: 6.5rem;
    padding: 1rem 0;
}

.hand-shake {
    transform-origin: 70% 70%;
    display: inline-block;
}

.quicklinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1.5rem;
}

.quicklink {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

/**
* handwave animation
* credit: (https://codepen.io/jakejarvis/pen/pBZWZw)
*/
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.hero-section:hover .hand-shake {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main-container {
    max-width: calc(min(45rem, 85vw));
    margin: auto;
}

/* 
* Project cards 
* */
.projects {
    z-index: -1;
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

.project {
    padding: 1rem;
    /* margin: 1.0rem 0; */
    background: var(--background-color-transparent);
    box-shadow: 0 2px 32px 0 rgba( 31, 38, 135, 0.1 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;
}

.project-tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tag {
    font-size: 0.8rem;
    border: 1px solid var(--text-color-light);
    background: var(--background-color-darker);
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
    margin-right: 0.1rem;
    margin-bottom: 0.2rem;
}

/*
* Project-dialog
* */

.project-dialog {
    margin: auto;
    max-width: calc(min(50rem, 87vw));
    background: var(--background-color-transparent);
    box-shadow: 0 2px 32px 0 rgba( 31, 38, 135, 0.1 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2rem;
}

.dialog-close-button {
    float: right;
    position: sticky;
    top: 0;
    background: rgba(255, 0, 0, 1);
    box-shadow: 0 2px 8px 0 rgba( 31, 38, 32, 0.3 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/*
* Background canvas 
*
* */
.background-canvas {
    position: fixed;
    top: 0;
    z-index: -1;
}

/*
* Contact section styles 
**/
#contact {
    font-style: normal;
    display: flex;
    width: 100%;
    padding: 1rem 0;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    
}

/*
*
* Responsive Media Queries 
*
* */

/* Medium screen size */
@media screen and (max-width: 80rem) {
    .nav-list {
        writing-mode: vertical-lr;
        flex-direction: row;
        text-orientation: sideways;
    }
}

/* Small screen size */
@media screen and (max-width: 60rem) {
    /* Adjust styles for smaller screens */
    .container {
        grid-template-columns: 1fr;
    }

    .navbar {
        margin: auto;
        position: sticky;
        top: 0;
    }

    .nav-list {
        height: unset;
        flex-direction: row;
        justify-content: flex-start;
        writing-mode: inherit;
        text-orientation: inherit;
        padding: 1rem 0;
        max-width: calc(min(50rem, 85vw));
        margin: auto;
    }

    .main-text {
        font-size: 6rem;
        line-height: 5.0rem;
        padding: 1rem 0;
    }
}
