/* variables.css */
/* Colors */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f0f0f0;
    --background-color-transparent: rgba(255, 255, 255, 0.10);
    --text-color: #333;
}

/* Font Sizes */
:root {
    --base-font-size: 13px;
    --heading-font-size: 24px;
}

/* Spacing */
:root {
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}

html {
    font-size: var(--base-font-size);
}
 /* Reset some default styles to ensure consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* Set a background color and default font for the entire page */
body {
    /* background-color: #f0f0f0; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style buttons */
button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

hr {
    border-top: 1px solid #EEEEEE;
    margin: 1rem 0;
}

/*
*
* NAVBAR STYLES
*
* */
.navbar {
    top: 0;
    z-index: 100;
    position: fixed;
    color: black;
    background: linear-gradient(white 15%, transparent);
}

.nav-list:before {
    z-index: -1;
    content: '';
    position: absolute;
    height: 7rem;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.95;
    backdrop-filter: blur(15px);
    mask: linear-gradient(180deg, white 35%, transparent);
    transition: 1s;
  }

.nav-list:hover::before {
    opacity: 1;
}

.nav-list {
    text-transform: uppercase;
    height: 100vh;
    /* text-orientation: sideways; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 0.8em;
    padding: 0 2rem;
    gap: 2rem;
}

.nav-list a {
    text-decoration: none;
}

/*
*
* HERO SECTION STYLES
*
*/
.hero-section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2rem 0;
}

.greeting-line {
    font-size: 1.6rem;
}

.main-text {
    font-size: 8rem;
    line-height: 6.5rem;
    padding: 1rem 0;
}

.hand-shake {
    transform-origin: 70% 70%;
    display: inline-block;
}

/**
* handwave animation
* credit: (https://codepen.io/jakejarvis/pen/pBZWZw)
*/
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.hero-section:hover .hand-shake {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main-container {
    max-width: calc(min(45rem, 85vw));
    margin: auto;
}

    display: flex;
}

}

/* Style a card component */
.card {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
*
* Responsive Media Queries 
*
* */

/* Medium screen size */
@media screen and (max-width: 80rem) {
    .nav-list {
        writing-mode: vertical-lr;
        flex-direction: row;
        text-orientation: sideways;
    }
}

/* Small screen size */
@media screen and (max-width: 60rem) {
    /* Adjust styles for smaller screens */
    .container {
        grid-template-columns: 1fr;
    }

    .navbar {
        margin: auto;
        position: sticky;
        top: 0;
    }

    .nav-list {
        height: unset;
        flex-direction: row;
        justify-content: flex-start;
        writing-mode: inherit;
        text-orientation: inherit;
        padding: 1rem 0;
        max-width: calc(min(50rem, 85vw));
        margin: auto;
    }

    .main-text {
        font-size: 6rem;
        line-height: 5.0rem;
        padding: 1rem 0;
    }
}
